.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-logo {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header-logo img {
    width: 250px;
    transition: transform 0.5s ease;
}

.header-logo img:hover {
    transform: scale(0.8);
}

.header-navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-family: sans-serif;
}

.header-navigation ul li a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.header-navigation ul li a:hover {
    color: gray; 
}

.header-button button {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.header-button button:hover {
    transform: scale(0.9); 
}

.header-content {
    transition: opacity 0.3s ease-out; 
    margin-top: 120px;
}

.header-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.header-text-2 {
    font-family: sans-serif;
    margin-left: 20px;
    color: #3B3A3C;
    font-size: 20px;
    margin-top: 20px;
}

.button-2 {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.button-2:hover {
    transform: scale(0.9); 
}

.button-3 {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.button-3:hover {
    transform: scale(0.9); 
}

.header-image {
    overflow: hidden;
    display: flex;
    gap: 20px;
    .header-image-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
            width: 250px;
            border-radius: 10px;
            border-bottom: 1px solid black;
        }
    }
    .header-image-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        img {
            width: 250px;
            border-radius: 10px;
            border-bottom: 1px solid black;
        }
    }
}
  
.header-image img {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    border-radius: 20px;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
}

.header-parent {
    overflow: hidden;
    height: 120vh;
}

.header-content-container {
    background-image: linear-gradient(90deg, white 60%, #000000 60%);
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-logo img {
        width: 150px;
    }

    .header-navigation ul {
        flex-direction: row;
        gap: 10px;
    }

    .header-navigation {
        margin-right: 0;
    }

    .header-button button {
        font-size: 14px;
        padding: 15px;
        margin-top: 20px;
    }

    .header-text-container {
        margin-right: 15px;
    }

    .header-text {
        font-size: 24px;
        text-align: center;
    }

    .header-text-2 {
        font-size: 16px;
        text-align: center;
    }

    .header-content-container {
        flex-direction: column;
        background-image: linear-gradient( white 60%, #000000 60%);
    }

    .header-image img {
        max-width: 300px;
    }

    .header-image-1 {
        display: flex;
    }

    .header-image-2 {
        display: flex;
    }

    .header-button-2 {
        margin-left: 40px;
    }
}

@media (max-width: 480px) {
    .header-logo img {
        width: 100px;
    }

    .header-navigation ul li a {
        font-size: 14px;
    }

    .header-button button {
        font-size: 12px;
        padding: 10px;
    }

    .header-text {
        font-size: 20px;
    }

    .header-text-2 {
        font-size: 14px;
    }

    .header-image img {
        max-width: 250px;
    }
}